body{
    padding: 100px;
}

.form-area{
    margin-top: 60px;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
  display: none;
}
.deposit{
  background-color: slateblue ;
}
.withdraw{
  background-color: lightsalmon;
}
.balance{
  background-color: orange;
}
.status{
  padding: 40px;
  border-radius: 10px;
  color: white;
}